*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url('header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/* Navbar */

nav{
    height: auto;
    width: 75.8%;
    /* border: 1px solid blue; */
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0); */
    
}

.logo{
    padding-top: 4px;
}

.navbar{
    height: auto;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 37px;
}

.navbar ul li{
    list-style: none;
}

.topline:hover > a{
    border-bottom: 2px solid #13aff0;
    padding-bottom: 5px;
}

.navbar ul li a{
    text-decoration: none;
    color: #ededed;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1;
}

.images{
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}

.sub-nav-images{
    height: 100%;
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.sub-nav-images img{
    object-fit: cover;
    background-size: cover;
    max-width: 240.5px;
}

/* Main */

main{
    /* border: 2px solid black;
    height: 300px;
    width: 100%; */
}