* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 100vh;
    max-width: 100%;
    background-image: url('header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/* Navbar */

nav {
    height: auto;
    max-width: 75.8%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-top: 5px;
    margin-left: 1px;
}

.logo:hover {
    opacity: 0.3;
    transition: all .3s ease;
}

.navbar {
    height: auto;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.navbar ul li {
    list-style: none;
    margin-bottom: 2px;
}

.nav-item a {
    text-decoration: none;
    color: #ededed;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: .6px;
    transition: all .3s ease;
}

.nav-item a i {
    font-size: 9.5px;
}

/* Topline */

.topline:hover>a {
    border-bottom: 2px solid #13aff0;
    padding-bottom: 5px;
}

/* Dropdown */

.nav-item li {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 180px;
    top: 100%;
    left: -20px;
    z-index: 1000;
}

.nav-item li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 15px;
}

.dropdown-menu li a {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

/* Sub-header */
.images {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.sub-nav-images {
    height: 100%;
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    cursor: grab;
}

.sub-nav-images img {
    object-fit: cover;
    background-size: contain;
    height: auto;
    width: 200px;
}

/* Main */

main {
    min-height: 587px;
    width: 100%;
    padding: 120px 0;
}


.about-designing {
    height: 100%;
    max-width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.design-container {
    height: 100%;
    width: 100%;
}

.design-container h3 {
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    margin-left: 19px;
    margin-top: 66px;
    margin-bottom: 33px;
}

.design-container ul {
    margin-left: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8;
    color: #55504a;
}

.box1 h3 {
    margin-bottom: 32px;
}

.box1 ul {
    margin-left: 36px;

}

.design-container img {
    margin-top: 5px;
    margin-left: 15px;
    box-sizing: border-box;
}

.box2 {
    padding-left: 20px;
}

.box2 h3 {
    margin-left: 30px;
    margin-top: 66px;
}

.box2 ul li {
    margin-left: 6px;
    margin-top: 2px;
    padding-left: 5px;
    line-height: 1.65;
}



/* Business help */
.business-help {
    width: 100%;
    min-height: 978px;
    box-sizing: border-box;
}

.business-top {
    position: relative;
}

.business-top svg {
    max-height: 67px;
    fill: rgba(214, 110, 62, 0.99);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0%;

}

.business-help-container {
    max-width: 73.5%;
    min-height: 92%;
    margin: auto;
    box-sizing: border-box;
    padding: 80px 0;
}

.business-help-container h4 {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.2em;
    color: #e55725;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
}

.box {
    width: 100%;
    min-height: 87%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.subbox {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.inside-subboxes:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
}

.inside-subboxes {
    min-height: 55%;
    width: 100%;
    display: block;
    margin-bottom: 18px;
    text-align: center;
    position: relative;
    border: 1px solid #000;
}

.inside-subboxes img {
    min-height: 90px;
    max-height: 90px;
    max-width: 100%;
    margin-top: 20px;
}

.inside-subboxes h3 {
    margin: 10px 0;
    font-size: 13px;
    line-height: 1.4;
    font-family: 'Varela Round', sans-serif;
}

.inside-subboxes h3 a {
    color: #333;
    text-decoration: none !important;
}

.inside-subboxes p {
    font-size: 16px;
    text-align: center;
    margin: 9px 20px;
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Varela Round', sans-serif;
}

.lrn-mre {
    display: inline-block;
    border-color: #243e94;
    padding: 20px 19px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: .9px;
    background-color: #243e94;
    border-radius: 5px;
    line-height: 1px;
    color: #fff;
    text-decoration: none !important;
    width: 200px;
    margin: 5% 0;
}

/* what we do */
.services {
    width: 100%;
    min-height: 721px;
    box-sizing: border-box;
}

.top {
    padding: 48px 0;
    position: relative;
}

.top svg {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
}

.top svg .elementor-shape-fill {
    fill: rgba(30, 160, 20, 0.99);
    box-sizing: border-box;
}

.services-container {
    max-width: 73.1%;
    min-height: 65%;
    margin: auto;
    box-sizing: border-box;
}

.services-container h2 {
    color: #e55725;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Verala Round', sans-serif;
    text-align: center;
    margin-bottom: 82px;
}

.subcontainer {
    min-height: 370px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 65px;
    gap: 20px;
    box-sizing: border-box;
}

.subcont-box {
    height: 100%;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 40px 10px 30px 10px;
    box-sizing: border-box;
}

.icon {
    height: 86px;
    width: 86px;
    border: 2px solid #52a7fe;
    border-radius: 50%;
    background-color: #fff;
    margin: auto;
    cursor: pointer;
}

.fa-paint-brush,
.fa-code {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(50%, 60%);
    font-size: 35px;
    fill: #52a7fe;
    color: #52a7fe;
    border-color: #52a7fe;
}

.fa-wordpress {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(72%, 60%);
    font-size: 35px;
    fill: #52a7fe;
    color: #52a7fe;
    border-color: #52a7fe;
}

.fa-line-chart {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(60%, 60%);
    font-size: 35px;
    fill: #52a7fe;
    color: #52a7fe;
    border-color: #52a7fe;
}

.icon:hover {
    background-color: #1e83ec;
    color: #fff;
    transition: all .3s ease;
    transform: scale(1.1);
}

.icon:hover i {
    color: #fff !important;
}

.subcont-box h3 {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    margin: 30px 0 20px 0;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.subcont-box h3 a {
    text-decoration: none;
    color: #333;
}

.subcont-box p {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Varela Round';
    line-height: 1.8;
    text-align: center;
    margin: 5px 0;
    color: #333;
}

.btn {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 50px;
}

.btn a {
    background-color: #4054b2;
    border-radius: 3px;
    color: #fff;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
}

/* @media(max-width: 768px){
.subcontainer{
  flex-direction: column;
}
} */


/* Recent Work */
.work {
    width: 100%;
    min-height: 910px;
    padding: 80px 0;
    background-color: #001656;
    box-sizing: border-box;
}

.work-container {
    max-width: 75.8%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
}

.work-container h2 {
    font-size: 39px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    max-width: 100%;
    height: 78%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    box-sizing: border-box;
}

.grid-images {
    width: auto;
    min-height: 350px;
    background-size: cover;
    backface-visibility: hidden;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;
}

/* Responsive */
/* @media(max-width: 768px){
 .work{
     min-height: 910px;
     width: 100%;
 }
 .grid-container{
     min-height: 78%;
     max-width: 75.8%;
     grid-template-columns: repeat(1, 1fr);
 }
 .grid-images{
     height: 350px;
     width: 100%;
 }
} */

.image1 {
    background-image: url('work-image1.png');
}

.image2 {
    background-image: url('work-image2.png');
}

.image3 {
    background-image: url('work-image3.png');
    width: 99.5%;
}

.image4 {
    background-image: url('work-image4.png');
    background-position: center;
}

.image5 {
    background-image: url('work-image5.png');
}

.image6 {
    background-image: url('work-image6.png');
}

.image7 {
    background-image: url('work-image7.png');
    background-position: center;
    width: 99.5%;
}

.image8 {
    background-image: url('work-image8.jpg');
}

.text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    transform-origin: center;
    opacity: 0;
    transform: scale(50%);
    transition: opacity 1.3s ease, transform 0.3s ease;
}

.text:hover {
    opacity: 1;
    transform: scale(1);
}


.text h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    margin: auto;
    width: 70%;
    text-align: center;
    line-height: 1.5;
}

.view-more-btn {
    text-align: center;
    margin-top: 58px;
    transition: all 0.3s ease;
}

.view-more-btn a {
    background-color: #e55725;
    color: #fff;
    border-radius: 50px;
    padding: 19px 54px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
}

.view-more-btn a i {
    font-size: 13px;
    margin-left: 3px;
}

.view-more-btn:hover {
    transform: scale(1.1);
}

/* Reviews Section */
.reviews {
    min-height: 730px;
    width: 100%;
    box-sizing: border-box;
}

.reviews-container {
    max-width: 75.8%;
    height: 78%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;
    gap: 10px;
}

.sub-reviews {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.reviews-image1 {
    animation: 2s ease-in-out 0s 1 normal forwards running slideInLeft;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.reviews-image2 {
    animation: 2s ease-in-out 0s 1 normal forwards running slideInRight;
}

@keyframes slideInRight {
    0% {
        opacity: 1;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.sub-reviews a {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sub-reviews a img {
    height: 460px;
    width: 100%;
    object-fit: contain;
}

.reviews-text {
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
}

.reviews-text h2 {
    color: #e55725;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1;
    margin-bottom: 35px;
    margin-top: 44px;
}

.reviews-text p {
    font-family: 'Varela Round', sans-serif;
    color: #000;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5;
    cursor: grab;
    margin-bottom: 10px;
    font-weight: 400;
}

.reviews-text span {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 3.4px;
    text-align: center;
    font-weight: 700;
    cursor: grab;
}

/* Build a website */

.build-website {
    min-height: 444px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    background-image: linear-gradient(90deg, #585b64 0%, #2c2f38 100%);
    padding: 12% 0;
}

.build-site-container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.build-site-container h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
}

.build-site-container p {
    font-size: 15px;
    text-align: center;
    color: #bbb;
    font-family: 'Varela Round', sans-serif;
    margin: 47px 0 70px 0;
}

.build-site-container a {
    display: inline-block;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: 18px 49px;
    border-radius: 50px;
    font-size: 16px;
    background-color: rgb(105, 114, 125);
    line-height: 1;
    font-family: 'Varela Round', sans-serif;
}

.fa-arrow-right {
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    margin-left: 10px;
}

.build-site-container a:hover {
    background-color: #1e83ec;
    border: 2px solid #1e83ec;
    transition: all 0.3s ease-in-out;
}

/* Sub-footer */

.sub-footer {
    width: 100%;
    min-height: 348px;
    background-color: #292929;
    padding: 70px 20px;
}

.sub-footer-container {
    max-width: 77.7%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.footer-content h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding-left: 15px;
    border-left: 4px solid #52a7fe;
    line-height: 1em;
    margin-bottom: 18px;
    font-family: 'Varela Round', sans-serif;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
    line-height: 2.6em;
}

.footer-content ul li a i {
    font-size: 12px;
    width: 1.25em;
    margin-right: 8px;
}

.fa-envelope {
    font-size: 15px !important;
}

.fa-phone-alt {
    transform: rotate(105deg);
}

.footer-content li img {
    height: auto;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    margin-top: 15px;
    cursor: pointer;
}

.footer-content ul li a:hover {
    color: #13aff0;
}

.footer-content ul li a:hover i {
    color: #fff !important;
}

/* Footer */
footer {
    background-color: #000;
    min-height: 44px;
    box-sizing: border-box;
}

.footer-container {
    height: 100%;
    max-width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.footer-container h4 {
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1em;
    font-weight: 600;
    padding: 6px 2px;
}

.footer-container ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    list-style: none;
    flex-wrap: wrap;
}


.footer-container ul li {
    border-left: 1px solid #fff;
    line-height: .1em;
    padding: 5px;
}

.footer-container ul li:nth-child(1) {
    border-left: none;
}

.footer-container li a {
    color: #fff;
    text-transform: none;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Varela Round', sans-serif;
    padding: 1px 2px;
}

/*For tablets*/

@media screen and (max-width: 1023px) {

    .about-designing,
    .box,
    .subcontainer,
    .reviews-container,
    .sub-footer-container {
        flex-direction: column;
    }

    footer {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        height: auto;
        max-width: 100%;
    }

 main{
     padding: 30px 20px;
 }

 .design-container h3{
     margin: 20px 0;
 }

 .design-container ul{
     margin: 30px 0;
 }

 .design-container img{
     margin: 0px;
 }


    .footer-container {
        flex-direction: column-reverse;
    }

    .footer-container ul {
        justify-content: center;
    }

    .footer-container h4 {
        text-align: center;
    }
}

/* For mobile devices */

@media(max-width: 600px) {

    .about-designing,
    .box,
    .subcontainer,
    .reviews-container,
    .sub-footer-container {
        flex-direction: column;
    }

    footer {
        width: 100%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    img {
        height: auto;
        max-width: 100%;
    }

    main {
        padding: 30px 20px;
    }

    .design-container h3 {
        margin: 20px 0;
        padding-left: 10px;
    }

    .design-container ul {   
        margin: 30px 0;
        padding-left: 30px;
    }

    .design-container img{
     margin: 0px;
     text-align: left;
 }

 .box1{
     padding-left: 20px;
 }

.footer-container {
    flex-direction: column-reverse;
}

.footer-container ul {
    justify-content: center;
}
}

@media screen and (max-width: 588px){
 .footer-container ul{
     row-gap: 5px;
 }
}

/* Responsive Navbar */
.menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

/* For Tablet */

@media screen and (max-width: 1023px) {
    .navbar ul{
        position: fixed;
        top: -200px;
        left: 0%;
        display: block;
        background: #fff;
        width: 100%;
        height: auto;
        padding-left: 20px;
         transition: top 0.3s ease;
    }
    #click:checked ~ .menu-btn i:before{
        content : "\f00d";
    }
    .navbar ul li{
        margin: 20px 0;
        padding: 0;
    }
    .navbar ul li a{
        color: #000;
        display: block;
    }

     .navbar ul li a:hover{
         color: cyan;
     }
    .topline:hover > a{
       border-bottom: none;
        padding-bottom: 0px;
    }
    .menu-btn i{
        display: block;
        text-align: right;
    }
    #click:checked ~ .navbar ul{
        top: 80px;
    }
    
.nav-item li {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 180px;
    top: 100%;
    left: -20px;
    z-index: 1000;
}

.nav-item li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 15px;
}

.dropdown-menu li a {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

.fa-chevron-down{
    display: none;
}
}

/* For mobile */

@media screen and (max-width: 600px) {
    .navbar ul{
        position: fixed;
        top: -200px;
        left: 0%;
        display: block;
        background: #fff;
        width: 100%;
        height: auto;
        padding-left: 20px;
        transition: top 0.3s ease;
    }
    #click:checked ~ .menu-btn i:before{
        content : "\f00d";
    }
    .navbar ul li{
        margin: 20px 0;
        padding: 0;
    }
    .navbar ul li a{
        color: #000;
        display: block;
    }

     .navbar ul li a:hover{
         color: cyan;
     }
    .topline:hover > a{
       border-bottom: none;
        padding-bottom: 0px;
    }
    .menu-btn i{
        display: block;
        text-align: right;
    }
    #click:checked ~ .navbar ul{
        top: 80px;
    }

    
.nav-item li {
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 180px;
    top: 100%;
    left: -20px;
    z-index: 1000;
}

.nav-item li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 12px 15px;
}

.dropdown-menu li a {
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

.fa-chevron-down{
    display: none;
}
}