*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url('header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/* Navbar */

nav{
    height: auto;
    width: 75.8%;
    /* border: 1px solid blue; */
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0); */
    
}

.logo{
    padding-top: 4px;
}

.navbar{
    height: auto;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 37px;
}

.navbar ul li{
    list-style: none;
}

.topline:hover > a{
    border-bottom: 2px solid #13aff0;
    padding-bottom: 5px;
}

.topline a{
    text-decoration: none;
    color: #ededed;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1;
}

/* Dropdown */

.topline{
    position: relative;
}

.topline .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 180px;
    top: 100%;
    left: -20px;
    margin: 40px 0;
    z-index: 1000;
}

.topline:hover .dropdown-menu{
    display: block;  
}

.dropdown-menu li{
    padding: 12px 15px;
}

.dropdown-menu li a{
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

.images{
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.sub-nav-images{
    height: 100%;
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    cursor: grab;
}

.sub-nav-images img{
    object-fit: cover;
    background-size: contain;
    height: auto;
    width: 200px;
}

/* Main */

main{
    /* border: 2px solid black;
    height: 300px;
    width: 100%; */
}

/* Reviews Section */
.reviews{
    height: 721px;
    width: 100%;
    box-sizing: border-box;
}

.reviews-container{
    max-width: 79%;
    height: 78%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;
}

.sub-reviews{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.sub-reviews a{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.sub-reviews a img{
    height: 460px;
    width: 100%;
    /* max-width: 100%; */
    object-fit: contain;
}

.reviews-text{
    text-align: center;
    margin: 30px 50px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

.reviews-text h2{
    color: #e55725;
    font-size: 39px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1;
    margin-bottom: 40px;
    /* margin-top: 80px; */
}

.reviews-text p{
    /* padding: 0 20px; */
    color: #000;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.5;
    cursor: grab;
    margin-bottom: 20px;
    font-weight: 600;
}

.reviews-text span{
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 3.4px;
    text-align: center;
    font-weight: 700;
    cursor: grab;
}


/* Footer */
footer{
    background-color: #000;
    height: 44px;
    box-sizing: border-box;
}

.footer-container{
    height: 100%;
    width: 79%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container h4{
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.1em;
    font-weight: 600;
}

.footer-container ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-container li a{
    color: #fff;
    text-transform: none;
    text-decoration: none;
}